<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kechengbiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E58B51091FB1611D0086FC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E58B51241FB1611D0086FC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E58B512F1FB1611D0086FC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
